* {
    box-sizing: border-box;
}

:root {
    --primary-color: #212832
}

html {
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
    background-color: #FFFFFF;
}

body {
    font-size: 1.6rem;
}

/* Common */

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 58px;
    min-width: 149px;
    padding: 0 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--height);
    line-height: var(--height);
    border-radius: 8px;
    background: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-subtitle {
    display: flex;
    align-items: center;
    column-gap: 12px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696D77;

}

.section-subtitle::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background: #696D77;
}

.section-desc {
    margin-top: 20px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #696D76;

}

/* Header */
.header {
    padding: 42px 0;
}

.header__inner {
    display: flex;
    align-items: center;

}

.navbar__list {
    margin-left: 46px;
    display: flex;
}

.navbar__link,
.header-action__link {
    position: relative;
    padding: 8px 24px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696D76;
}

.navbar__link--active {
    font-weight: 600;
    color: var(--primary-color);

}

.navbar__link--active::after {
    content: "";
    position: absolute;
    left: 24px;
    right: 24px;
    bottom: 0;
    height: 1px;
    border-radius: 0.5px;
    background: #7264D6;
}

.header-action {
    margin-left: auto;
}

.header-action__link {
    font-weight: 600;
    color: var(--primary-color);
}

.header-action__btn {
    --height: 52px;
    min-width: 113px;
    border-radius: 6px;
}


/* Hero */
.hero {
    margin-top: 34px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 60px;
}

.hero__heading {
    width: 500px;
    margin-top: 12px;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.16;
    color: var(--primary-color)
}

.hero__heading strong {
    color: #7264D6;
}

.hero__desc {
    width: 540px;
}

.subscribe-form {
    padding: 8px 8px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 8px;
    margin-top: 40px;
    width: 540px;
    height: 74px;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 16px 42px 0px #00000012;
}

.subscribe-form__input {
    width: 50%;
    border: none;
    outline: none
}

.subscribe-form__input::placeholder {
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696D76;
}

.subscribe-form__submit {
    background: #7264D6;
    border: none;
    outline: none;
}

.hero__note {
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
    color: #696D76;

}