* {
    box-sizing: border-box;
}

:root {
    --primary-color: #212832
}

html {
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
    background-color: #FFFFFF;
}

body {
    font-size: 1.6rem;
}

/* Common */

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 58px;
    min-width: 149px;
    padding: 0 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--height);
    line-height: var(--height);
    border-radius: 8px;
    background: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-subtitle {
    display: flex;
    align-items: center;
    column-gap: 12px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696D77;

}

.section-subtitle::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background: #696D77;
}

.section-heading {
    margin-top: 12px;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
    color: var(--primary-color);
}

.section-desc {
    margin-top: 20px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #696D76;

}

/* Header */
.header {
    padding: 42px 0;
}

.header__inner {
    display: flex;
    align-items: center;

}

.navbar__list {
    margin-left: 46px;
    display: flex;
}

.navbar__link,
.header-action__link {
    position: relative;
    padding: 8px 24px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696D76;
}

.navbar__link--active {
    font-weight: 600;
    color: var(--primary-color);

}

.navbar__link--active::after {
    content: "";
    position: absolute;
    left: 24px;
    right: 24px;
    bottom: 0;
    height: 1px;
    border-radius: 0.5px;
    background: #7264D6;
}

.header-action {
    margin-left: auto;
}

.header-action__link {
    font-weight: 600;
    color: var(--primary-color);
}

.header-action__btn {
    --height: 52px;
    min-width: 113px;
    border-radius: 6px;
}


/* Hero */
.hero {
    margin-top: 34px;
}

.hero__inner {
    display: flex;
    align-items: center;
    column-gap: 60px;
}

.hero__heading {
    width: 500px;
    margin-top: 12px;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.16;
    color: var(--primary-color)
}

.hero__heading strong {
    color: #7264D6;
}

.hero__desc {
    width: 540px;
}

.subscribe-form {
    padding: 8px 8px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 8px;
    margin-top: 40px;
    width: 540px;
    height: 74px;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 16px 42px 0px #00000012;
}

.subscribe-form__input {
    width: 50%;
    border: none;
    outline: none
}

.subscribe-form__input::placeholder {
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696D76;
}

.subscribe-form__submit {
    background: #7264D6;
    border: none;
    outline: none;
}

.hero__note {
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
    color: #696D76;

}

.hero__media {
    flex: 1;
    position: relative;
    padding-left: 100px;
}

.hero-deposit {
    position: absolute;
    left: 0;
    top: 113px;
    display: inline-flex;
    padding: 14px 10px;
    align-items: center;
    justify-content: space-between;
    column-gap: 19px;
    background: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0px 10px 20px 0px #00000012;

}

.hero__row {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.hero-deposit__title {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    color: #31456A;

}

.hero-deposit__price {
    font-size: 1.4rem;
    line-height: 1;
    color: #4AB5E3;

}

.hero__img {
    width: 296px;
}

.hero-interest {
    position: absolute;
    right: 0;
    top: 127px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #DA6464;
}

.hero-interest__value {
    font-size: 4.4rem;
    font-weight: 600;
    color: #FFFFFF
}

.hero-interest__desc {
    font-size: 1.6rem;
    line-height: 1.37;
    color: #FFFFFF
}

.hero-secured {
    position: absolute;
    right: 100px;
    bottom: 61px;
    display: inline-flex;
    align-items: center;
    column-gap: 12px;
    padding: 20px 14px;
    background: #439F90;
    border-radius: 10px;
}

.hero-secured__price {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    color: #FFFFFF;
}

.hero-secured__desc {
    margin-top: 5px;
    font-size: 0.8rem;
    line-height: 1;
    color: #FFFFFF;

}

/* Works */
.works {
    margin-top: 160px;
}

.works__inner {
    display: flex;
    align-items: center;
    column-gap: 130px;
}

.works__media {
    position: relative;
    padding-right: 100px;
}

.works__img-wrap {
    position: relative;
    width: 470px;
}

.works__img-wrap::after {
    content: url(../images/works-decor-01.svg);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.works__img {
    width: 456px;
    display: block;
    margin: 0 auto;
}

.works__decor {
    position: absolute;
    top: 76px;
    right: 162px;
}

.works-active {
    position: absolute;
    right: 0;
    bottom: 96px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    column-gap: 10px;
    padding: 15px;
    background: #FFFDFA;
    box-shadow: 0px 14px 34px 0px #00000012;

}

.works-active__title {
    font-family: Inter, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.21;
    color: var(--primary-color);
}

.works-active__desc {
    margin-top: 5px;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    line-height: 1.16;
    color: #696D76
}

.works__list {
    margin-top: 70px;
}

.works-item+.works-item {
    margin-top: 30px;
}

.works-item__title {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;
    color: var(--primary-color);

}

.works-item__desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696D76;
}

/* Payments */
.payments {
    margin-top: 160px;
}

.payments__inner {
    display: flex;
    align-items: center;
    column-gap: 130px;
    justify-content: space-between;
}

.payments__inner+.payments__inner {
    margin-top: 160px;
}


.payments__list {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}

.payments__item {
    display: flex;
    align-items: center;
    column-gap: 12px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    color: var(--primary-color);

}

.payments__item::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #7264D6;
}

.payments__action-btn {
    margin-top: 38px;
}

.payments__media {
    position: relative;
    padding: 48px 88px 55px 0;

}

.payments__img {
    width: 482px;
}

.payments__card {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    column-gap: 14px;
    padding: 23px 13px;
    width: 276px;
    border-radius: 12px;
    background: #FFFFFF;
    box-shadow: 0px 14px 38px 0px #00000012;

}

.payments__card-icon,
.payments__card-bottom-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #da64641a;
}

.payments__card-info {
    flex: 1;

}

.payments__card-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Inter, sans-serif;

}

.payments__card-row+.payments__card-row {
    margin-top: 4px;
}

.payments__card-title {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.16;
    color: var(--primary-color);
}

.payments__card-price {
    font-size: 1.6rem;
    line-height: 1.18;
    color: #212832;
}

.payments__card-desc,
.payments__card-time {
    font-size: 1rem;
    line-height: 1.2;
    color: #696D76;

}

.payments__card-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 15px;
    width: 120px;
    border-radius: 16px;
    background-color: #439F90;
}

.payments__card-bottom-icon {
    width: 30px;
    height: 30px;
    background: #FFFFFF;
}

.payments__card-bottom-title {
    font-size: 1.2rem;
    margin-top: 14px;
    line-height: 1.33;
    color: #FFFFFF
}

.payments__card-bottom-price {
    display: inline-block;
    margin-top: 6px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.33;
    color: #FFFFFF;
}



.payments__bottom {
    margin-top: 160px;
}

.payments__media-bottom {
    position: relative;
    padding: 0 100px 0 0;
}

.payments__img-wrap {
    position: relative;
    width: 470px;

}

.payments__img-wrap::after {
    content: url(../images/payments-wrap-01.svg);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

}


.payments__img-bottom {
    display: block;
    width: 413px;
    margin: 0 auto;
}

.payments__method {
    position: absolute;
    bottom: 57px;
    right: 0;
    padding: 35px 26px 0 0;
}

.payments__method-card {
    padding: 28px;
    background: #FFFFFF;
    box-shadow: 0px 44px 48px 0px #0000001A;
    border-radius: 10px;
}

.payments__method-title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    color: var(--primary-color);

}

.payments__method-list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.payments__method-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    height: 48px;
    background: #F2F2FA;
    border-radius: 4px;
}

.payments__method-item:nth-child(6) {
    background: #F9EA63;
}

.payments__method-icon {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #7264D6;
    box-shadow: 0px 15px 40px 0px #0000001A;

}

/* Clients */
.clients {
    margin-top: 160px;
}

.clients__top {
    text-align: center;
}

.clients__subtitle {
    justify-content: center;
}

.clients__desc {
    width: 435px;
    margin-left: auto;
    margin-right: auto;

}

.clients__list {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    overflow: hidden;
}

.clients-item {
    flex: 1;
    text-align: center;
}

.clients-item__feedback {
    position: relative;
    padding: 42px 28px;
    width: 570px;
    border: 1px solid #DFE2E8;
    border-radius: 10px;
    background: #FFFFFF;
}


.clients-item__feedback::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -62px;
    width: 70px;
    height: 70px;
    background: inherit;
    rotate: 45deg;
    border: 1px solid #DFE2E8;
    border-top: none;
    border-left: none;

}

.clients-item__feedback:hover {
    filter: drop-shadow(0 22px 54px #00000012);
}



.clients-item__desc {
    font-size: 2.2rem;
    font-style: italic;
    line-height: 1.54;
    color: #696D76;

}

.clients-item__info {

    margin-top: 80px;
}

.clients-item__img-wrap {

    position: relative;
    width: 104px;
    height: 104px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.clients-item__img-wrap::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: #4AB5E3;
}

.clients-item:nth-child(2) .clients-item__img-wrap::after {
    background: #439F90;
}



.clients-item__img {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.clients-item__name {
    margin-top: 20px;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
    color: #070052;
}

.clients-item__title {
    margin-top: 2px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #696D76;
}

.clients__dots {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    column-gap: 12px;
}

.clients__dot {
    width: 22px;
    height: 6px;
    border-radius: 1px;
    border: 1px solid #9B9FAB
}


.clients__dot--active,
.clients__dot:hover {
    cursor: pointer;
    background: #7264D6;
    border: none;
}

.blog {
    margin-top: 160px;
}

.blog__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__info {
    width: 425px;
}

.blog__heading {
    margin-top: 6px;
}

.blog__desc {
    margin-top: 18px;
    font-size: 1.6rem;
    line-height: 1.75;
}

.blog__action-btn {
    min-width: 123px;
}

.blog__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.blog-item {
    padding: 28px;
    background: #FFFFFF;
    border: 1px solid #DFE2E8;
    border-radius: 12px;
    display: flex;
    align-items: center;
    column-gap: 22px;
    transition: .25s;

}

.blog-item:hover {
    box-shadow: 0px 20px 50px 0px #00000012;
    border: transparent;
    cursor: pointer;
}

.blog-item:hover .blog-item__link {
    color: #7264D6;
}

.blog-item__img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
}

.blog-item__time {
    font-size: 1.4rem;
    line-height: 1.71;
    color: #696D76;

}

.blog-item__desc {
    margin-top: 10px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    color: var(--primary-color);

}

.blog-item__link {
    display: inline-block;
    margin-top: 20px;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #696D76;

}

/* Download */
.download {
    margin-top: 160px;
}

.download__inner {
    position: relative;
    padding: 100px 0;
    background: #7264D6;
    border-radius: 24px;
}

.download__info {
    text-align: center;
}

.download__subtitle {
    justify-content: center;
    color: #FFFFFF;
}

.download__subtitle::before {
    background: #FFFFFF;
}

.download__heading {
    color: #FFFFFF;
}

.download__desc {
    margin-top: 18px;
    color: #FFFFFF;
    width: 435px;
    margin-left: auto;
    margin-right: auto;
}

.download__action {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    column-gap: 16px;
}

.download__action-btn {
    --height: 64px;
    background: #FFFFFF;
    min-width: 182px;
    border: none;
    outline: none;
}

.download__decor {
    position: absolute;
}

.download__decor:nth-of-type(1) {
    top: 49px;
    left: 112px;
}

.download__decor:nth-of-type(2) {
    top: 49px;
    right: 112px;
}

.download__decor:nth-of-type(3) {
    bottom: 49px;
    left: 166px;
}

.download__decor:nth-of-type(4) {
    bottom: 49px;
    right: 166px;
}